<div>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="javascript:void(0)">金融服务管理平台</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="javascript:void(0)" data-fsp-attach-event="onClick:onProfile" class="navbar-link">管理员</a>&nbsp;&nbsp;&nbsp;
              <a href="javascript:void(0)" data-fsp-attach-event="onClick:onAbout" class="navbar-link">关于软件</a>&nbsp;&nbsp;
              <a href="javascript:void(0)" data-fsp-attach-event="onClick:onLogout" class="navbar-link">退出</a>
            </p>
            <ul class="nav">
              <li><a href="javascript:void(0)" data-fsp-attach-event="onClick:onDashborad">首页</a></li>
              <li><a href="javascript:void(0)" data-fsp-attach-event="onClick:onProducts">产品维护</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        <div id="stackController"></div>
        <div id="stack"></div>
        <div style="clear:both"></div>
    </div>
</div>